{% extends "layout.html" %}

{% block body %}

<h3>Hakkımızda</h3>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam provident ut reiciendis sapiente illum dignissimos
    inventore perspiciatis ad cupiditate esse necessitatibus nemo doloribus, eos corporis tempora dolorem ipsum deserunt
    hic! Consequuntur saepe aperiam minus sed possimus a dolores totam? Aut ipsa repellendus modi obcaecati provident
    non, praesentium pariatur eveniet in eius ullam autem minus qui sunt, eos quo exercitationem natus!</p>
{% endblock body %}